@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 28, 35, 49;
  --foreground-rgb: 207, 216, 220;
}

body {
 color: rgb(var(--foreground-rgb));
 background-color: rgb(var(--background-rgb));
}
