@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 33, 42, 62;
  --foreground-rgb: 155, 164, 181;
}

body {
 color: rgb(var(--foreground-rgb));
 background-color: rgb(var(--background-rgb));
}








